/* Have fun. This is your site. */

body {
  background: lightgray;
}

h1{
  text-align: center;
}

img{
  display: block;
  margin-inline: auto;
  max-width: 100%;
  height: auto;
}

/* Main Container */
main {
  width: 100%;
  /* centers container to page */
  margin-inline: auto;
  
  /* adjust to your design */
  max-width: 40em;

}
